.navbar {
  padding: 1.5em 3em;
}

body {
  font-family: "Manrope", sans-serif;
  background: url(../images/lukas-blazek-f-TWhXOrLiU-unsplash_low.jpg) no-repeat center center fixed;
  background-size: cover;
}

#form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 50px 0;
}

#search_form {
  text-align: center;
  width: 100%;
}

#homepage-h2-title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}

#food-select-field {
  width: 60%;
}

.submit-btn {
  padding: 15px;
  background-color: #5b616a;
  color: #edf0f4;
}

h2#homepage-h2-title {
  color: #5b616a;
}

/* SELECT2 */
.select2-selection.select2-selection--multiple,
.select2-container--default.select2-selection--multiple, .select2-dropdown {
  border: none !important;
  -webkit-box-shadow: 0px 5px 5px -6px rgba(0, 0, 0, 0.253);
          box-shadow: 0px 5px 5px -6px rgba(0, 0, 0, 0.253);
}

.select2-selection.select2-selection--multiple {
  padding: 10px;
}

input.select2-search__field {
  width: inherit !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #275dad;
}

/***************/
/* GOOGLE CSE below. Here be !important's... */
.gsc-expansionArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gsc-expansionArea .gsc-webResult {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px !important;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px !important;
  -webkit-box-shadow: 0px 5px 5px -6px rgba(0, 0, 0, 0.253);
          box-shadow: 0px 5px 5px -6px rgba(0, 0, 0, 0.253);
}

.cse .gsc-control-cse,
.gsc-control-cse {
  background-color: #edf0f4 !important;
  border: none !important;
  font-family: "Manrope", sans-serif !important;
}

.gsc-table-result {
  font-family: "Manrope", sans-serif !important;
}

.gs-web-image-box {
  width: inherit !important;
}

.gs-web-image-box img.gs-image {
  max-width: 200px !important;
}

/* Thank you w3schools... */
#content-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #275dad;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.animate-bottom {
  -webkit-animation-name: animatebottom;
          animation-name: animatebottom;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

@-webkit-keyframes animatebottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* HERE BE MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .gsc-expansionArea .gsc-webResult {
    width: 45%;
  }
}

@media only screen and (min-width: 992px) {
  .gsc-expansionArea .gsc-webResult {
    width: 25%;
  }
}
/*# sourceMappingURL=style.css.map */