$color1: #fcf7f8;
$color2: #ced3dc;
$color3: #aba9c3;
$color4: #275dad;
$color5: #5b616a;
$color6: #edf0f4;
$white: #fff;
$box-shadow: 0px 5px 5px -6px rgba(0, 0, 0, 0.253);

.navbar {
	padding: 1.5em 3em;
}

body {
	font-family: "Manrope", sans-serif;
	background: url(../images/lukas-blazek-f-TWhXOrLiU-unsplash_low.jpg) no-repeat
		center center fixed;
	background-size: cover;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	margin: 2em 0 0.5em 0;
}

#content-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#form-wrapper {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 0 50px 0;
}

#body-text-wrapper,
#search-wrapper {
	flex: 1 0 auto;
}

#search_form {
	text-align: center;
	width: 100%;
}

#homepage-h2-title {
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}

#food-select-field {
	width: 60%;
}

.submit-btn {
	padding: 15px;
	background-color: $color5;
	color: $color6;
}

h2#homepage-h2-title {
	color: $color5;
}

.body-text-wrapper {
	background-color: $color6;
	min-height: 100vh;
}

.body-text {
	background-color: $white;
	box-shadow: $box-shadow;
	color: $color5;
	border-radius: 5px;
	padding: 2em;
}

footer {
	padding: 1em;
	background: $color5;
	text-align: center;
	color: $white;
}

/* SELECT2 */

.select2-selection.select2-selection--multiple,
.select2-container--default.select2-selection--multiple,
.select2-dropdown {
	border: none !important;
	box-shadow: $box-shadow;
}

.select2-selection.select2-selection--multiple {
	padding: 10px;
}

input.select2-search__field {
	width: inherit !important;
}

.select2-container--default
	.select2-results__option--highlighted[aria-selected] {
	background: $color4;
}

/***************/

/* GOOGLE CSE below. Here be !important's... */

.gsc-expansionArea {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.gsc-webResult {
		width: 100%;
		flex: 1 1 auto;
		padding: 20px !important;
		background-color: #fff;
		border-radius: 5px;
		margin: 10px !important;
		box-shadow: $box-shadow;
	}
}

.cse .gsc-control-cse,
.gsc-control-cse {
	background-color: $color6 !important;
	border: none !important;
	font-family: "Manrope", sans-serif !important;
}

.gsc-table-result {
	font-family: "Manrope", sans-serif !important;
}

.gs-web-image-box {
	width: inherit !important;

	img.gs-image {
		max-width: 200px !important;
	}
}

.gsc-cursor-box {
	text-align: center !important;
	padding: 20px 0px;

	.gsc-cursor-page {
		padding: 10px 15px;
		background-color: $color5;
		color: $white !important;
		border-radius: 20px;
		&:hover {
			background-color: $color3;
		}
	}
}

/* Thank you w3schools... */

#content-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid $color4;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animate-bottom {
	animation-name: animatebottom;
	animation-duration: 0.8s;
}

@keyframes animatebottom {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* HERE BE MEDIA QUERIES */

@media only screen and (min-width: 768px) {
	.gsc-expansionArea .gsc-webResult {
		width: 45%;
	}
	.body-text-wrapper,
	.body-text {
		padding: 5em;
	}
}

@media only screen and (min-width: 992px) {
	.gsc-expansionArea .gsc-webResult {
		width: 25%;
	}
}
